<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Editar datos de estudiante</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Ingrese Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Edad</ion-label>
    <ion-input [(ngModel)]="data.age" placeholder="Ingrese Edad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Direccion</ion-label>
    <ion-input [(ngModel)]="data.address" placeholder="Ingrese Direccion"></ion-input>
  </ion-item>
  <ion-button (click)="update()" color="success" size="small">
    Actualizar
  </ion-button>
  <ion-button [routerLink]="[ '/student-list']" color="danger" size="small">
    Cancelar
  </ion-button>
</ion-content>